<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1"><%= session[:current_project][:project_name]%></span>
  </div>
</nav>

<div class="container-fluid my-5 py-4">
  <div class="d-flex flex-row">
    <textarea id="fileContent" name="code"><%= JSON.pretty_generate(@file_details) %></textarea>
    <div class="w-25 px-4">
      <a href="#" id="copy-code-wrap" class="btn btn-primary">
        <div class="copy-code">
          <i class="bi bi-clipboard-check-fill"></i> Copy
        </div>
      </a>
    </div>
  </div>
</div>

<script>
  var editor = CodeMirror.fromTextArea(document.getElementById("fileContent"), {
    mode: {
      name: "javascript",
      json: true
    },
    lineNumbers: true,
    readOnly: true,
    minLines: 50,
    lineWrapping: true
  });
  // copy to clipboard
  $("#copy-code-wrap").on('click', function (e) {
    if (e.which == 1) {
      // write the text to the clipboard
      navigator.clipboard.writeText(editor.getValue());
    }
  });
</script>
